html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
html {
  height: 100%;
}
body {
  background: rgb(0,125,53);
  background: linear-gradient(90deg, rgba(0,125,53,1) 0%, rgba(0,125,53,1) 40%, rgba(15,87,78,1) 100%);
  display: flex;
  align-items: flex-end;
  width: 95%;
  margin: 0 auto;
}
@media (min-width:768px) {
  body {
    align-items: center;
    width: 100%;
  }
}

.App-logo {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .App-logo {
    width: auto;
  }
}

#root {
  width: 100%;
}